* {
    font-family: 'Roboto', sans-serif;
}

.my-title {
    color: var(--bg-blue-1);
    font-weight: 700;
    margin: 5rem auto;
    padding-top: 7px;
}


.sobre img {
        width: 100%;
        border-radius: 5px;
        margin-top: 7rem;
}

.func i{
    color: #212529;
}

.container{
    width: 70%;
    border-radius: 1rem;
}

.contato{
    width: 100%;
}

.contato p, i, h3{
    color:aliceblue
}
